*UML/*
!UML/UML_PokerSystem.mdj
.idea

pokercasino/*
!pokercasino/lasvegas.cpp
!pokercasino/casino.cpp
!pokercasino/bot.cpp
!pokercasino/casino.h
!pokercasino/includes.h
!pokercasino/botfiles/


main_files/__pycache__/*
main_files/holdem/__pycache__/*
main_files/holdem/holdem/__pycache__/*

PokerDjango/secrets.json
PokerDjango/static/
PokerDjango/static-root/
PokerDjango/poker/migrations/
PokerDjango/poker/__pycache__/
PokerDjango/PokerDjango/poker/__pycache__/
secrets.json.save